/* -----タスクのリスト本体に関するスタイル----- */
.task-list-container {
  position: relative;
  left: 25%;
  width: 50%;
  max-width: none;
  margin-top: 3%;
  font-size: 88%;
}

.task {
  width: 98%;
  height: 50px;
  padding: 10px;
  margin: 4px;
  background-color: ivory;
  border: 1px solid burlywood;
  border-radius: 5px;
}

.delete {
  float: right;
}

.drag-handle-selector {
  float: right;
  cursor: pointer;
}

.task-icon {
  float: left;
}

.task-header {
  float: left;
  margin-top: 5px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.task-number {
  float: left;
  margin-top: 3px;
  margin-right: 6px;
  margin-left: 3px;
  font-size: 16px;
}

.task-list-container .olive {
  width: 7%;
}

.task-list-container .google {
  width: 12%;
}

.task-list-container .violet {
  width: 11%;
}

/* ------入力フォームに関するスタイル------ */
.input-form {
  width: 58%;
  height: 40px;
  margin-right: 4px;
  border: 2px solid orange;
  border-radius: 24px;
  outline: none;
}

/* -----タスクの編集中モードに関するスタイル----- */
.edit-input-form {
  z-index: 10;
  width: 500px;
  height: 28px;
  font-size: 14px;
  background: #ebcb3d;
  border: none;
  border-radius: 4px;
  outline: none;
}

/* ------placeholder------ */
input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus::-ms-input-placeholder {
  color: transparent;
}

input:focus::placeholder {
  color: transparent;
}

/* ------ApplicationHeader------ */
.site-header {
  width: 100%;
  padding: 24px 24px;
  background: url(Header-image.png) center / cover;
}

.site-header-inner {
  display: flex;
}

/* ------Introduction------ */
.introduction-space {
  position: absolute;
  top: 12%;
  left: 74%;
  width: 25%;
  height: 47%;
  background: url(Introduction_image.png) center / cover;
  opacity: 1;
  transition: all 1s;
}

.introduction-space button {
  position: absolute;
  top: 36%;
  left: 47%;
  width: 30%;
  height: 11%;
}

.introduction-space-edit {
  position: absolute;
  top: 28%;
  left: 2%;
  width: 25%;
  height: 47%;
  background: url(Introduction_edit.png) center / cover;
  opacity: 1;
  transition: all 1s;
}

.introduction-space-edit button {
  position: absolute;
  top: 54%;
  left: 37%;
  width: 30%;
  height: 11%;
}

.introduction-space-none {
  opacity: 0;
}

.event-invalid {
  pointer-events: none;
}

/* ------Sign In, Sign Up------ */
.header-button-container {
  padding-top: 1%;
  margin-left: auto;
}

.header-button-container > * {
  margin-left: 10px;
}

.sign-in-space {
  position: relative;
  left: 40%;
  width: 40vw;
  margin-top: 1vw;
}

.sign-in-space * {
  margin-top: 0.5vw;
}

.sign-in-space button {
  width: 58%;
}

/* -------- indicator -------- */
.rai-spinner {
  position: relative;
  top: 30px;
  left: 50%;
}
