/* TaskList */
.task-list-container {
  width: 700px !important;
  max-width: none !important;
  margin-top: 48px;
  margin-left: 400px;
  font-size: 1rem !important;
}

.task {
  height: 50px;
  padding: 10px;
  margin: 5px;
  background-color: ivory;
  border: 1px solid burlywood;
  border-radius: 5px;
}

.delete {
  float: right;
}

.dragHandleSelector {
  float: right;
}

.inputForm {
  width: 400px;
  height: 40px;
  margin-right: 4px;
  border: 2px solid orange;
  border-radius: 24px;
  outline: none;
}

.taskIcon {
  float: left;
}

.taskHeader {
  float: left;
  margin-top: 5px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.taskNumber {
  float: left;
  margin-top: 3px;
  margin-right: 6px;
  margin-left: 3px;
  font-size: 16px;
}

/* placeholder */
input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus::-ms-input-placeholder {
  color: transparent;
}

input:focus::placeholder {
  color: transparent;
}

/* ApplicationHeader */
.site-header {
  width: 100%;
  padding: 24px 24px;
  background: url(Header-image.png) center / cover;
}

.site-header-inner {
  display: flex;
}
